# Time Series Forecasting Explore. 

En este proyecto se busca estimar el ritmo de ventas de una empresa, con el fin de tener disponible el espacio de almacenamiento del producto para los pr√≥ximos meses.

## Paso 1. Carga del conjunto de datos.

In [2]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/4GeeksAcademy/alternative-time-series-project/main/sales.csv")
df.head()

                         date      sales
0  2022-09-03 17:10:08.079328  55.292157
1  2022-09-04 17:10:08.079328  53.803211
2  2022-09-05 17:10:08.079328  58.141693
3  2022-09-06 17:10:08.079328  64.530899
4  2022-09-07 17:10:08.079328  66.013633

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    366 non-null    object
 1   sales   366 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.8+ KB

In [4]:
df.describe()

             sales
count   366.000000
mean    524.963968
std     275.089698
min      53.803211
25%     290.186822
50%     520.699468
75%     763.289263
max    1000.482785

In [5]:
df.shape

(366, 2)

In [6]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
361    False
362    False
363    False
364    False
365    False
Length: 366, dtype: bool

## Paso 2. Construye y analiza la serie temporal.